<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwce.mapper.ReplyMapper">

	<select id="list" resultType="com.kwce.domain.ReplyVO">
		select 
		*
		from
		tbl_reply
		where bno = #{bno}
		order by rno desc
	</select>
	
	<insert id="create">
		insert into tbl_reply (bno, replytext, replyer)
		values (#{bno},#{replytext},#{replyer})
	</insert>
	
	<update id="update">
		update tbl_reply set replytext = #{replytext}, updatedate= now()
		where rno = #{rno}
	</update>

	<delete id="delete">
		delete from tbl_reply where rno=#{rno}
	</delete>
	
	
	<select id="listPage" resultType="com.kwce.domain.ReplyVO">
		select 
		*
		from
		tbl_reply
		where
		bno = #{bno}
		order by rno desc 
		limit #{cri.pageStart} , #{cri.perPageNum}
	</select> <!-- Map 형태로 담았다. 그런 경우 key값과 pageStart라는 get으로 지정된 것으로 꺼내올 수 있다.   -->
	
	
	<select id="count" resultType="int">
		select count(bno) from tbl_reply where bno =#{bno}
	</select>
	
	<select id="getBno" resultType="int">
		SELECT bno 
		FROM tbl_reply 
		WHERE rno= #{rno}
	</select>
	
</mapper>